body {
  background-color: darkseagreen;
}

h1{
  color: navy;
  margin-left: 20px;
}
p{
	color: aqua
}
ul{
	color: forestgreen
}
em{
	color: darkorchid
}
img{
	border-radius: 100px;
  padding: 20px;
  width: 150px;
  height: 150px;
}

